
<div class="container">
  	<h2>My Booking</h2>
  	<div class="panel-group">
	    <div class="panel panel-primary">
	      	<div class="panel-heading" >Current Appointment</div>
	     		<div class="panel-body">
		      		<p><label ng-show="mdata.currentBooking.length == 0"> You have no current Appointment</label></p>
					<div class="media">
						<div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
						<div class="media-body pl-3" ng-repeat="booking in mdata.currentBooking">
							<div class="name"><small>{{booking.clinic.name}}</small></div>
							<div class="address">{{clinic.address}} </div>
							<div class="stats">
								<span><i class="fa fa-arrows-alt"></i>Booking Date:</span>
								<span><i class="fa fa-clock"></i>{{booking.dateTime}}</span>
								
							</div>
							<div class="stats">
								<span><i class="fa fa-arrows-alt"></i>Status:</span>
								<span><i class="fa fa-clock"></i>{{booking.status}}</span>
								
							</div>
							<div class="stats">
								<span><i class="fa fa-arrows-alt"></i>My Qno:</span>
								<span><i class="fa fa-clock"></i>{{booking.queNo}}</span>
								
							</div>
							<md-button type="submit" ng-click="vm.cancel(booking._id);"  ng-show="booking.status == 'waiting'" class="md-raised md-warn md-hue-2">Cancel</md-button>
						</div>
					</div>
					
				</div>
			</div>
	    </div>

	    <div class="panel panel-primary">
	      	<div class="panel-heading" >History Appointment</div>
	      		<div class="panel-body">
		      		<p><label ng-show="mdata.bookings.length == 0"> You have no Appointment History</label></p>
					<div class="media">
						<div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
						<div class="media-body pl-3" ng-repeat="booking in mdata.bookings">
							<div class="name"><small>{{booking.clinic.name}}</small></div>
							<div class="address">{{clinic.address}} </div>
							<div class="stats">
								<span><i class="fa fa-arrows-alt"></i>Booking Date:</span>
								<span><i class="fa fa-clock"></i>{{booking.dateTime}}</span>
								
							</div>
							<div class="stats">
								<span><i class="fa fa-arrows-alt"></i>Status:</span>
								<span><i class="fa fa-clock"></i>{{booking.status}}</span>
								
							</div>
							<div class="stats">
								<span><i class="fa fa-arrows-alt"></i>My Qno:</span>
								<span><i class="fa fa-clock"></i>{{booking.queNo}}</span>
								
							</div>
							<md-button type="submit" ng-Click="vm.book(booking.clinic);" ng-disabled="disableAppointment" class="md-raised md-primary">Make Appointment</md-button>
						</div>
					</div>
				</div>
				
	      	</div>
	  	</div>
    </div>
</div>